@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-motion";

:root {
    --color-primary: #465d91;
    --color-surface-tint: #465d91;
    --color-on-primary: #ffffff;
    --color-primary-container: #d9e2ff;
    --color-on-primary-container: #2d4578;
    --color-secondary: #575e71;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #dbe2f9;
    --color-on-secondary-container: #404659;
    --color-tertiary: #725572;
    --color-on-tertiary: #fff;
    --color-tertiary-container: #fdd7fb;
    --color-on-tertiary-container: #593e5a;
    --color-error: #ba1a1a;
    --color-on-error: #ffffff;
    --color-error-container: #ffdad6;
    --color-on-error-container: #93000a;
    --color-background: #faf8ff;
    --color-on-background: #1a1b20;
    --color-surface: #faf8ff;
    --color-on-surface: #1a1b20;
    --color-surface-variant: #e1e2ec;
    --color-on-surface-variant: #44464f;
    --color-outline: #757780;
    --color-outline-variant: #c5c6d0;
    --color-inverse-surface: #2f3036;
    --color-inverse-on-surface: #f1f0f7;
    --color-inverse-primary: #afc6ff;

    --color-surface-dim: #dad9e0;
    --color-surface-bright: #faf8ff;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f4f3fa;
    --color-surface-container: #eeedf4;
    --color-surface-container-high: #e8e7ef;
    --color-surface-container-highest: #e2e2e9;

    --color-custom-1: #37693d;
    --color-on-custom-1: #ffffff;
    --color-custom-1-container: #b8f0b8;
    --color-on-custom-1-container: #1f5027;

    --color-custom-2: #855318;
    --color-on-custom-2: #ffffff;
    --color-custom-2-container: #ffdcbd;
    --color-on-custom-2-container: #693c00;

    --color-custom-3: #006a62;
    --color-on-custom-3: #ffffff;
    --color-custom-3-container: #9df2e6;
    --color-on-custom-3-container: #005049;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --radius: 0.625rem;

    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: transparent;
    --sidebar-ring: oklch(0.708 0 0);

    --chart-1: #ebbf5e;
    --chart-2: #54d3de;
    --chart-3: #2440a7;
    --chart-4: #d9efb8;
    --chart-5: #dfec9c;
}

.dark {
    --color-primary: #afc6ff;
    --color-surface-tint: #afc6ff;
    --color-on-primary: #142f60;
    --color-primary-container: #2d4578;
    --color-on-primary-container: #d9e2ff;
    --color-secondary: #bfc6dc;
    --color-on-secondary: #293042;
    --color-secondary-container: #404659;
    --color-on-secondary-container: #dbe2f9;
    --color-tertiary: #dfbbde;
    --color-on-tertiary: #412742;
    --color-tertiary-container: #593e5a;
    --color-on-tertiary-container: #fdd7fb;
    --color-error: #ffb4ab;
    --color-on-error: #690005;
    --color-error-container: #93000a;
    --color-on-error-container: #ffdad6;
    --color-background: #121318;
    --color-on-background: #e2e2e9;
    --color-surface: #121318;
    --color-on-surface: #e2e2e9;
    --color-surface-variant: #44464f;
    --color-on-surface-variant: #c5c6d0;
    --color-outline: #8f9099;
    --color-outline-variant: #44464f;
    --color-inverse-surface: #e2e2e9;
    --color-inverse-on-surface: #2f3036;
    --color-inverse-primary: #465d91;

    --color-custom-1: #9dd49e;
    --color-on-custom-1: #023912;
    --color-custom-1-container: #1f5027;
    --color-on-custom-1-container: #b8f0b8;

    --color-custom-2: #fcb975;
    --color-on-custom-2: #4a2900;
    --color-custom-2-container: #693c00;
    --color-on-custom-2-container: #ffdcbd;

    --color-custom-3: #81d5ca;
    --color-on-custom-3: #003732;
    --color-custom-3-container: #005049;
    --color-on-custom-3-container: #9df2e6;

    --color-surface-dim: #121318;
    --color-surface-bright: #38393e;
    --color-surface-container-lowest: #0c0e13;
    --color-surface-container-low: #1a1b20;
    --color-surface-container: #1e1f25;
    --color-surface-container-high: #282a2f;
    --color-surface-container-highest: #33353a;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: transparent;
    --sidebar-ring: oklch(0.556 0 0);

    --chart-1: #2662d9;
    --chart-2: #2eb88a;
    --chart-3: #e88c30;
    --chart-4: #af57db;
    --chart-5: #e23670;
}

@theme inline {
    --color-primary: var(--color-primary);
    --color-surface-tint: var(--color-surface-tint);
    --color-on-primary: var(--color-on-primary);
    --color-primary-container: var(--color-primary-container);
    --color-on-primary-container: var(--color-on-primary-container);
    --color-secondary: var(--color-secondary);
    --color-on-secondary: var(--color-on-secondary);
    --color-secondary-container: var(--color-secondary-container);
    --color-on-secondary-container: var(--color-on-secondary-container);
    --color-tertiary: var(--color-tertiary);
    --color-on-tertiary: var(--color-on-tertiary);
    --color-tertiary-container: var(--color-tertiary-container);
    --color-on-tertiary-container: var(--color-on-tertiary-container);
    --color-error: var(--color-error);
    --color-on-error: var(--color-on-error);
    --color-error-container: var(--color-error-container);
    --color-on-error-container: var(--color-on-error-container);
    --color-background: var(--color-background);
    --color-on-background: var(--color-on-background);
    --color-surface: var(--color-surface);
    --color-on-surface: var(--color-on-surface);
    --color-surface-variant: var(--color-surface-variant);
    --color-on-surface-variant: var(--color-on-surface-variant);
    --color-outline: var(--color-outline);
    --color-outline-variant: var(--color-outline-variant);
    --color-inverse-surface: var(--color-inverse-surface);
    --color-inverse-on-surface: var(--color-inverse-on-surface);
    --color-inverse-primary: var(--color-inverse-primary);

    --color-primary-fixed: #d9e2ff;
    --color-on-primary-fixed: #001944;
    --color-primary-fixed-dim: #afc6ff;
    --color-on-primary-fixed-variant: #2d4578;
    --color-secondary-fixed: #dbe2f9;
    --color-on-secondary-fixed: #141b2c;
    --color-secondary-fixed-dim: #bfc6dc;
    --color-on-secondary-fixed-variant: #404659;
    --color-tertiary-fixed: #fdd7fb;
    --color-on-tertiary-fixed: #2a132c;
    --color-tertiary-fixed-dim: #dfbbde;
    --color-on-tertiary-fixed-variant: #593e5a;

    --color-surface-dim: var(--color-surface-dim);
    --color-surface-bright: var(--color-surface-bright);
    --color-surface-container-lowest: var(--color-surface-container-lowest);
    --color-surface-container-low: var(--color-surface-container-low);
    --color-surface-container: var(--color-surface-container);
    --color-surface-container-high: var(--color-surface-container-high);
    --color-surface-container-highest: var(--color-surface-container-highest);

    --color-custom-1: var(--color-custom-1);
    --color-on-custom-1: var(--color-on-custom-1);
    --color-custom-1-container: var(--color-custom-1-container);
    --color-on-custom-1-container: var(--color-on-custom-1-container);
    --color-custom-2: var(--color-custom-2);
    --color-on-custom-2: var(--color-on-custom-2);
    --color-custom-2-container: var(--color-custom-2-container);
    --color-on-custom-2-container: var(--color-on-custom-2-container);
    --color-custom-3: var(--color-custom-3);
    --color-on-custom-3: var(--color-on-custom-3);
    --color-custom-3-container: var(--color-custom-3-container);
    --color-on-custom-3-container: var(--color-on-custom-3-container);

    --font-sans: "Roboto", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --radius: 1.825rem;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: rgb(0, 0, 0, 0);
    --color-sidebar-accent-foreground: var(--color-on-secondary-container);
    --color-sidebar-accent: var(--color-secondary-container);
    --color-sidebar-primary-foreground: blue;
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
}

/* ripple effect styles */
.ripple-container {
    position: relative;
    overflow: hidden;
}

.ripple {
    position: absolute;
    border-radius: 9999px;
    transform: scale(0);
    animation: ripple-animation 600ms linear;
    opacity: 0.5;
    pointer-events: none;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@layer base {
    :root {
        --chart-1: oklch(0.646 0.222 41.116);
        --chart-2: oklch(0.6 0.118 184.704);
        --chart-3: oklch(0.398 0.07 227.392);
        --chart-4: oklch(0.828 0.189 84.429);
        --chart-5: oklch(0.769 0.188 70.08);
    }

    .dark {
        --chart-1: oklch(0.488 0.243 264.376);
        --chart-2: oklch(0.696 0.17 162.48);
        --chart-3: oklch(0.769 0.188 70.08);
        --chart-4: oklch(0.627 0.265 303.9);
        --chart-5: oklch(0.645 0.246 16.439);
    }
}